@charset "UTF-8";

@import '_base.scss';

.container {
  
}

// S => 头部导航
.top-hd {
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1000;
  display: flex;
  padding: 0 11px;
  background: linear-gradient(to right, #900758, #f81c5a);
  height: 38px;
  // 左侧的logo区域
  .logo-wrap {
    height: 32px;
    width: 32px;
    margin-top: 4px;
    background: url(../img/logo.png) no-repeat;
    background-size: contain;
  }

  // 中间搜索区域
  .srch-wrap {
    flex: 1; // 自定缩放。
    padding: 6px 5px;
    position: relative;
    .srch-txt {
      width: 100%;
      box-sizing: border-box;
      border: none;
      line-height: 24px;
      font-size: 12px;
      border-radius: 12px;
      background-color: #930f3e;
      padding-left: 1em;
      color: #fff;
    }
    input:-ms-input-placeholder {
      color: #b38998;
    }
    input::-webkit-input-placeholder {
      color: #b38998;
    }

    i {
      position: absolute;
      right: 1em;
      top: 10px;
      color: #fff;
    }
  }

  // 右侧消息wrap
  .msg-wrap {
    width: 24px;
    height: 33px;
    position: relative;
    color: #fff;
    i {
      font-size: 22px;
      line-height: 22px;
    }
    span {
      font-size: 12px;
      line-height: 12px;
      position: absolute;
      top: 22px;
      left: 0;
    }
  }
}

.scroll-view {
  margin: 38px auto 42px;
  min-width: 320px;
  max-width: 640px;
}

// banner  轮播图区域
.swiper-container {
  // border: 1px solid #beae8d;
  // border-left: none;
  // border-right: none;
  position: relative;
  &::before {
    @include boder1px(#beae8d);
  }

  .swiper-wrapper {
    .swiper-slide {
      img {
        width: 6.4rem;
        height: 2.4rem;
        vertical-align: middle;
      }
    }
  }
  .swiper-pagination-bullet-active {
    background-color: #fff;
  }
}

// 网站导航区域
.site-nav-wrap {
  .site-nav {
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 56px;
    .site-nav-item {
      flex: 0 0 36px;
      font-size: 12px;
      height: 47px;
      a {
        display: block;
        i {
          width: 30px;
          height: 30px;
          display: block;
          margin: 0 auto;
          border-radius: 15px;
          background-color: #7f47dd;
          font-size: 16px;
          color: #fff;
          text-align: center;
          line-height: 30px;
        }
        p {
          font-size: 12px;
          color: #494949;
        }
      }
    }
  }
  .cs-bg {
    background-color: #f32363 !important;
  }
  .ms-bg {
    background-color: #d6d623 !important;
  }
  .cz-bg {
    background-color: #ff8a2f !important;
  }
}

$layer-padding: 0.22rem;
$layer-main-color: #faaf0d;
// 网站内容层
.layer {
  background-color: #fff;
  .layer-hd {
    height: 0.56rem;
    position: relative;
    padding: 0 $layer-padding;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $layer-main-color;
    &::before {
      position: absolute;
      left: $layer-padding; 
      top: 0;
      content: ' ';
      width: 0.12rem;
      height: 100%;
      background-color: $layer-main-color;
    }

    &::after {
      @include boder1px($bd-color);
    }

    .hd-l {
      display: flex;
      justify-content: flex-start;
      padding-left: 0.26rem;
      font-size: 0.3rem;
      font-weight: bolder;
      .hd-title {
        i.icon {
          font-size: 0.3rem;
        }
      }
      .timer-wrap {
        margin-left: 0.1rem;
        font-size: 0.24rem;
        color: #121212;
        word-spacing: 0.04rem;
        span {
          float: left;
          margin-left: 0.05rem;
        }
        .timer-num {
          // font-size: 0.24rem;
          line-height: 0.3rem;
          height: 0.3rem;
          width: 0.22rem;
          background-color: #121212;
          display: inline-block;
          font-weight: normal;
          color: #fff;
          text-align: center;
        }
      }
    }

    .hd-r {
      i.icon {
        display: inline-block;
        height: 0.3rem;
        width: 0.3rem;
        background-color: $layer-main-color;
        border-radius: 0.04rem;
        position: relative;
        top: 0.03rem;
        &::before {
          color: #fff;
          font-size: 0.24rem;
        }
      }
    }
  }
  .layer-bd {
    box-sizing: border-box;
    height: 2.52rem;
    padding: 0.14rem $layer-padding;
    .layer-bd-list {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }
}

// S =秒杀区域
.ms-layer {
  .layer-bd {
    height: 2.26rem;
    .layer-bd-list {
      .bd-list-item {
        a {
          display: block;
          position: relative;
          // width: 1.78rem;
          // height: 1.78rem;
          &::before {
            @include boder1px($border-color, 1, 1, 1,1);
          }
          img.ms-img {
            width: 1.78rem;
            height: 1.78rem;
            vertical-align: middle;
          }
        }
        .item-des {
          height: 0.23rem;
          width: 1.78rem;
          font-size: 0.24rem;
          color: #ec1a5a;
          text-align: center;
          line-height: 0.24rem;
          position: relative;
          // background: url(../img/sm.png) no-repeat;
          background-size: cover;
          .ms-price-img {
            position: absolute;
            left: 0;
            top: 0.07rem;
            width: 1.78rem;
            height: 0.16rem;
            z-index: 10;
          }
          .item-price {
            position: absolute;
            left: 0.5rem;
            top: 0;
            z-index: 11;
          }
        }
      }
    }
  }
}
// E =秒杀区域

// S =运动区域
.yd-layer {
  $layer-main-color: #bf0ff9;
  .layer-hd {
    color: $layer-main-color;
    &::before {
      background-color: $layer-main-color;
    }
    .hd-r {
      i {
        background-color: $layer-main-color !important;
      }
    }
  }
  .layer-bd {
    .layer-bd-list {
      .yd-bd-l {
        a {
          position: relative;
          &::before {
            @include boder1px($border-color, 1, 1,1,1);
          }
          display: block;
          img {
            width: 1.78rem;
            height: 2.28rem;
            vertical-align: middle;
          }
        }
      }
      .yd-bd-r {
        height: 2.28rem;
        width: 3.98rem;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        .bd-r-item {
          display: flex;
          justify-content: space-around;
          a {
            display: block;
            position: relative;
            &::before {
              @include boder1px($border-color, 1,1,1,1);
            }
            .bd-r-item-1 {
              width: 1.1rem;
              height: 1.03rem;
              vertical-align: middle;
            }
            .bd-r-item-2 {
              width: 2.42rem;
              height: 1.03rem;
              vertical-align: middle;
            }
          }
        }
      }
    }
  }
}

.site-footer {
  position: fixed;
  height: 42px;
  background-color: #171717;
  bottom: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  color: #9b9b9b;
  .footer-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .footer-list-item {
      width: 25px;
      height: 35px;
      i {
        font-size: 20px;
        line-height: 20px;
        position: relative;
        top: 3px;
      }
      span {
        font-size: 12px;
        line-height: 12px;
        position: relative;
        top: -2px;
      }
    }
  }
}
